
# Ignore raw and processed data
data/raw/
data/processed/
*.csv
*.tsv
*.json
*.parquet
*.xlsx
*.pkl
*.joblib

# Ignore notebook checkpoints
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Logs and temp files
*.log
*.tmp

# Environment files
.env
.venv/
env/
venv/

# System/IDE files
.DS_Store
.vscode/
Thumbs.db

